<md-dialog aria-label="help">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>help</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <b>x</b>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">
      <h2>Make a webview application!</h2>
      <p>
        If you want to deliver a web application (or just a web page) as a part of a client application, you can do it using <b>glassic</b>.
      </p>
      <p>
        
      </p>
    </div>
    <div class="md-actions" layout="row">
      <!-- <md-button ng-click="register()" style="margin-right:20px;"> -->
        <!-- Register -->
        <!-- </md-button> -->
    </div>
  </md-dialog-content>
</md-dialog>
