<html lang="en" ng-app="app">
  <head>
    <meta name="viewport" content="initial-scale=1" />

    <title>glassic wizard</title>

    <!-- Angular Material CSS now available via Google CDN; version 0.12 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

    <style type="text/css" media="all">
      html, body {
      }

      input[type=file] {
        display: none;
      }

      md-card {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

      md-input-container {
        padding-bottom: 2px;
      }

      h2 span {
        color: rgba(0,0,0,0.54);
      }
    </style>
  </head>
  <body ng-controller="AppCtrl">
    <md-content class="md-padding">
      <md-card>
        <md-card-content>

          <h2 class="md-title">glassic <span>wizard</span></h2>

          <form name="myForm">

            <div layout="row" layout-sm="column" layout-wrap>
              <md-content flex=30 layout="column" layout-align="center center">
                I want an application called
              </md-content>
              <md-input-container flex>
                <label>name</label>
                <input ng-required="true" ng-model="config.name" ng-minlength="2" ng-maxlength="30" ng-pattern="/^[0-9A-Za-z\-\_]*$/">
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-wrap>
              <md-content flex=30 layout="column" layout-align="center center">
                pointing to
              </md-content>
              <md-input-container flex>
                <label>url</label>
                <input ng-required="true" type="url" ng-model="config.url">
              </md-input-container>
            </div>

            <div layout="row" layout-sm="column" layout-wrap>
              <div flex=30 layout="column" layout-align="center center">
                It should work on
              </div>
              <div flex=10>
                <md-checkbox ng-click="android = !android" aria-label="android">
                  <md-icon md-svg-src="ic_android_48px.svg" aria-label="android"></md-icon>
                </md-checkbox>
                <md-tooltip md-direction="bottom">
                  android
                </md-tooltip>
              </div>
              <div flex=10>
                <md-checkbox ng-click="desktop = !desktop" aria-label="desktop">
                  <md-icon md-svg-src="ic_computer_48px.svg" aria-label="desktop"></md-icon>
                </md-checkbox>
                <md-tooltip md-direction="bottom">
                  linux + windows + mac
                </md-tooltip>
              </div>
              <div flex=10>
                <md-checkbox ng-click="ios = !ios" aria-label="ios">
                  <md-icon md-svg-src="ic_phone_iphone_48px.svg" aria-label="ios"></md-icon>
                </md-checkbox>
                <md-tooltip md-direction="bottom">
                  iOS 7
                </md-tooltip>
              </div>
            </div>

            <md-divider ng-show="advanced && android"></md-divider>
            <div class='md-padding' layout="row" layout-sm="column" layout-wrap ng-show="advanced && android">
              <div flex=30 layout="column" layout-align="center center">
                <md-icon md-svg-src="ic_android_48px.svg" aria-label="android"></md-icon>
              </div>
              <div flex=40>
                <md-input-container flex>
                  <label>package name</label>
                  <input type="text" ng-required="true" ng-model="config.android.packageName" ng-disabled="false">
                </md-input-container>
              </div>
              <div flex>
                <md-checkbox ng-model="config.android.fullscreen" ng-disabled="true">
                  Fullscreen
                </md-checkbox>
              </div>
              <div flex>
                <md-checkbox ng-model="config.android.offline" ng-disabled="true">
                  Offline Mode
                </md-checkbox>
              </div>
            </div>

            <md-divider ng-show="advanced && desktop"></md-divider>
            <div class='md-padding' layout="row" layout-sm="column" layout-wrap ng-show="advanced && desktop">
              <div flex=30 layout="column" layout-align="center center">
                <md-icon md-svg-src="ic_computer_48px.svg" aria-label="desktop"></md-icon>
              </div>
              <div flex=20>
                <md-input-container flex>
                  <label>width</label>
                  <input type="number" ng-required="true" ng-model="config.desktop.width" ng-disabled="false">
                </md-input-container>
              </div>
              <div flex=20>
                <md-input-container flex>
                  <label>height</label>
                  <input type="number" ng-required="true" ng-model="config.desktop.height" ng-disabled="false">
                </md-input-container>
              </div>
              <div flex>
                <md-checkbox ng-model="config.desktop.fullscreen" ng-disabled="true">
                  Fullscreen
                </md-checkbox>
              </div>
              <div flex>
                <md-button ng-disabled="true">
                  <label for="file-input">Icon</label>
                </md-button>
                <input id="file-input" type="file" ng-disabled="true">
              </div>
            </div>
            <div layout="row" layout-sm="column" layout-wrap ng-show="advanced && desktop">
              <div flex=30 layout="column" layout-align="center center"></div>
            </div>

            <md-divider ng-show="advanced && ios"></md-divider>
            <div class='md-padding' layout="row" layout-sm="column" layout-wrap ng-show="advanced && ios">
              <div flex=30 layout="column" layout-align="center center">
                <md-icon md-svg-src="ic_phone_iphone_48px.svg" aria-label="ios"></md-icon>
              </div>
              <div flex=40>
              </div>
              <div flex>
                <md-checkbox ng-model="config.ios.fullscreen" ng-disabled="true">
                  Fullscreen
                </md-checkbox>
              </div>
            </div>

            <md-divider ng-show="advanced && !(android || desktop || ios)"></md-divider>
            <md-content class='md-padding' style="padding-top: 30px" layout="row" layout-sm="column" layout-wrap ng-show="advanced && !(android || desktop || ios)">
              <md-content flex layout="column" layout-align="center center">^ select at least one platform</md-content>
            </md-content>

          </form>
        </md-card-content>

        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="advanced = true" ng-hide="advanced">
            Advanced
            <md-tooltip md-direction="top">
              Shows more config option
            </md-tooltip>
          </md-button>
          <md-button ng-click="generate()" ng-disabled="!myForm.$valid || !(desktop || android || ios)">
            Generate & Download
            <md-tooltip md-direction="top">
              node.js required to run
            </md-tooltip>
          </md-button>
        </div>

      </md-card>
    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

    <script>
      var app = angular.module('app', ['ngMaterial']);

app.config(function($mdThemingProvider) {
  $mdThemingProvider.theme('default')
    .accentPalette('deep-purple');
});

app.controller('AppCtrl', ['$scope', '$mdToast', function($scope, $mdToast) {
  $scope.config = {
    name: 'CoolBeans',
    url: 'https://cool-beans.com/',
    desktop: {
      width: 800,
      height: 600,
      fullscreen: false
    },
    android: {
      packageName: 'fallen.software.glassic',
      offline: false,
      fullscreen: false
    },
    ios: {
      fullscreen: false
    }
  };

  $scope.$watch('config.name', function (newValue, oldValue) {
    if (newValue == undefined) {
      return;
    }
    $scope.config.android.packageName = "fallen.software." + newValue.toLowerCase();
  });

  showToast = function (s) {
    $mdToast.show($mdToast.simple().content(s).position('top right').hideDelay(3000));
  };

  $scope.generate = function () {
    var zip = new JSZip();
    zip.folder($scope.config.name + "-glassic");
    zip.file($scope.config.name + '-glassic/generated-config.json', angular.toJson($scope.config, true));
    var startCommands = [
      '#!/usr/bin/env sh',
      '',
      'git clone git@github.com:mess110/glassic.git',
      'cp -rf glassic/* .',
      'cp -rf glassic/.* .',
      'rm -rf glassic/',
      'mv generated-config.json config.json',
      'npm install'
    ]
    zip.file($scope.config.name + '-glassic/start.sh', startCommands.join('\n'));
    var content = zip.generate({type: 'blob'});
    saveAs(content, $scope.config.name + '-glassic.zip');

    showToast("Extract the archive and run start.sh");
  };
}]);
    </script>
  </body>
</html>
