<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="initial-scale=1" />

        <title>glassic wizard</title>

        <!-- Angular Material CSS now available via Google CDN; version 0.12 used here -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">

        <style type="text/css" media="all">
            html, body {
            }

            /* http://tobiasahlin.com/spinkit/ */
            .spinner {
                width: 40px;
                height: 40px;
                background-color: #333;

                margin: 100px auto;
                -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
                animation: sk-rotateplane 1.2s infinite ease-in-out;
            }

            @-webkit-keyframes sk-rotateplane {
                0% { -webkit-transform: perspective(120px) }
                50% { -webkit-transform: perspective(120px) rotateY(180deg) }
                100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
            }

            @keyframes sk-rotateplane {
                0% {
                    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
                } 50% {
                    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
                } 100% {
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                }
            }

            input[type=file] {
                display: none;
            }

            md-card {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
            }

            md-input-container {
                padding-bottom: 2px;
            }

            .center-it {
                margin: auto;
                position: relative;
                left: 0;
                right: 0;
            }

            .right-padding-10 {
                padding-right: 10px;
            }

            h2 span {
                color: rgba(0,0,0,0.54);
            }

            #help-button {
                position: fixed;
            }

            .platform {
                padding-top: 30px;
            }

            .results {
                padding-top: 30px;
                text-align: center;
            }

            .results > div > md-icon {
                width: 48px;
                height: 48px;
            }

            .results > div:nth-child(1) > md-icon > svg {
                fill: rgb(63,81,181);
            }

            .results > div:nth-child(2) > md-icon > svg {
                fill: #F44336;
            }

            .building > p > span {
                color: #9E9E9E;
            }
        </style>
    </head>
    <body ng-controller="AppCtrl" ng-cloak>
        <md-button id="help-button" class="md-fab md-primary md-fab-bottom-left" aria-label="help" ng-click="showHelp($event)">
            <b>?</b>
        </md-button>
        <md-content class="md-padding">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">glassic <span>wizard</span></h2>

                    <form name="myForm" ng-show="page.view == 'build'">
                        <div>
                            <div layout="row" layout-wrap>
                                <md-content class="right-padding-10" hide-sm flex=30 layout="column" layout-align="center end">
                                    I want an application called
                                </md-content>
                                <md-input-container flex>
                                    <label>name</label>
                                    <input ng-required="true" ng-model="config.name" ng-minlength="2" ng-maxlength="30" ng-pattern="/^[0-9A-Za-z\-\_\ \!\@\#\?\+\.\,]*$/">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-wrap>
                                <md-content class="right-padding-10" hide-sm layout-sm="row" flex=30 layout="column" layout-align="center end">
                                    pointing to
                                </md-content>
                                <md-input-container flex>
                                    <label>url</label>
                                    <input ng-required="true" type="url" ng-model="config.url">
                                </md-input-container>
                            </div>

                            <div layout="row" layout-wrap>
                                <div class="right-padding-10" hide-sm flex=30 layout="column" layout-align="center end">
                                    It should work on
                                </div>
                                <div flex=15 flex-sm=50>
                                    <md-checkbox ng-click="android = !android" aria-label="android">
                                        <md-icon md-svg-src="ic_android_48px.svg" aria-label="android"></md-icon>
                                    </md-checkbox>
                                    <md-tooltip md-direction="bottom">
                                        android
                                    </md-tooltip>
                                </div>
                                <div flex=15 flex-sm=50>
                                    <md-checkbox ng-click="desktop = !desktop" aria-label="desktop">
                                        <md-icon md-svg-src="ic_computer_48px.svg" aria-label="desktop"></md-icon>
                                    </md-checkbox>
                                    <md-tooltip md-direction="bottom">
                                        linux + windows + mac
                                    </md-tooltip>
                                </div>
                                <!-- <div flex=10 flex-sm=33> -->
                                    <!-- <md-checkbox ng-click="ios = !ios" aria-label="ios"> -->
                                        <!-- <md-icon md-svg-src="ic_phone_iphone_48px.svg" aria-label="ios"></md-icon> -->
                                        <!-- </md-checkbox> -->
                                    <!-- <md-tooltip md-direction="bottom"> -->
                                        <!-- iOS 7 -->
                                        <!-- </md-tooltip> -->
                                    <!-- </div> -->
                            </div>
                        </div>

                        <div class="platform" ng-show="advanced && android">
                            <md-divider></md-divider>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex="30" layout="column" layout-align="center center" class="center-it">
                                    <md-icon md-svg-src="ic_android_48px.svg" aria-label="android"></md-icon>
                                </div>
                                <div flex>
                                    <md-input-container flex>
                                        <label>package name</label>
                                        <input type="text" ng-required="true" ng-model="config.android.packageName" ng-disabled="false" java-package-name>
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-checkbox ng-model="config.android.fullscreen" ng-disabled="false">
                                        Fullscreen
                                    </md-checkbox>
                                </div>
                                <div flex>
                                    <md-checkbox ng-model="config.android.offline" ng-disabled="false">
                                        Offline Mode
                                    </md-checkbox>
                                    <md-tooltip md-direction="bottom">
                                        Loads 'index.html' from android assets folder.
                                    </md-tooltip>
                                </div>
                            </div>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center">
                                </div>
                                <div flex>
                                    <md-input-container>
                                        <label>screen orientation</label>
                                        <md-select ng-model="config.android.screenOrientation">
                                            <md-option ng-repeat="orientation in screenOrientations" value="{{orientation}}">{{orientation}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container>
                                        <label>window soft input mode</label>
                                        <md-select ng-model="config.android.windowSoftInputMode">
                                            <md-option ng-repeat="inputMode in windowSoftInputModes" value="{{inputMode}}">{{inputMode}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex=35>
                                </div>
                            </div>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center" class="center-it">
                                </div>
                                <!-- NOTE: ng-repeat does not work due to fileread -->
                                <div flex>
                                    <md-button>
                                        <label for="file-input-android-mdpi" style="display: block;">
                                            mdpi Icon
                                        </label>
                                        <md-tooltip md-direction="bottom" ng-show="androidIconmdpi">
                                            <img for="file-input-desktop" ng-src="{{androidIconmdpi}}" style="width: 64px; height: 64px"/>
                                        </md-tooltip>
                                    </md-button>
                                    <input id="file-input-android-mdpi" fileread="androidIconmdpi" type="file" accept="image/png">
                                </div>
                                <div flex>
                                    <md-button>
                                        <label for="file-input-android-hdpi" style="display: block;">
                                            hdpi Icon
                                        </label>
                                        <md-tooltip md-direction="bottom" ng-show="androidIconhdpi">
                                            <img for="file-input-desktop" ng-src="{{androidIconhdpi}}" style="width: 64px; height: 64px"/>
                                        </md-tooltip>
                                    </md-button>
                                    <input id="file-input-android-hdpi" fileread="androidIconhdpi" type="file" accept="image/png">
                                </div>
                                <div flex>
                                    <md-button>
                                        <label for="file-input-android-xhdpi" style="display: block;">
                                            xhdpi Icon
                                        </label>
                                        <md-tooltip md-direction="bottom" ng-show="androidIconxhdpi">
                                            <img for="file-input-desktop" ng-src="{{androidIconxhdpi}}" style="width: 64px; height: 64px"/>
                                        </md-tooltip>
                                    </md-button>
                                    <input id="file-input-android-xhdpi" fileread="androidIconxhdpi" type="file" accept="image/png">
                                </div>
                                <div flex>
                                    <md-button>
                                        <label for="file-input-android-xxhdpi" style="display: block;">
                                            xxhdpi Icon
                                        </label>
                                        <md-tooltip md-direction="bottom" ng-show="androidIconxxhdpi">
                                            <img for="file-input-desktop" ng-src="{{androidIconxxhdpi}}" style="width: 64px; height: 64px"/>
                                        </md-tooltip>
                                    </md-button>
                                    <input id="file-input-android-xxhdpi" fileread="androidIconxxhdpi" type="file" accept="image/png">
                                </div>
                            </div>
                        </div>

                        <div class="platform" ng-show="advanced && desktop">
                            <md-divider></md-divider>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center" class="center-it">
                                    <md-icon md-svg-src="ic_computer_48px.svg" aria-label="desktop"></md-icon>
                                </div>
                                <div flex>
                                    <md-input-container flex>
                                        <label>width</label>
                                        <input type="number" ng-required="true" ng-model="config.desktop.width" ng-disabled="config.desktop.fullscreen">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container flex>
                                        <label>height</label>
                                        <input type="number" ng-required="true" ng-model="config.desktop.height" ng-disabled="config.desktop.fullscreen">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-checkbox ng-model="config.desktop.fullscreen" ng-disabled="config.desktop.resizable">
                                        Fullscreen
                                    </md-checkbox>
                                </div>
                                <div flex>
                                    <md-checkbox ng-model="config.desktop.resizable" ng-disabled="config.desktop.fullscreen">
                                        Resizable
                                    </md-checkbox>
                                </div>
                            </div>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center">
                                </div>
                                <div flex=17.5>
                                    <md-button>
                                        <label for="file-input-desktop" style="display: block;">
                                            Icon
                                        </label>
                                        <md-tooltip md-direction="bottom" ng-show="desktopIcon">
                                            <img for="file-input-desktop" ng-src="{{desktopIcon}}" style="width: 64px; height: 64px"/>
                                        </md-tooltip>
                                    </md-button>
                                    <input id="file-input-desktop" fileread="desktopIcon" type="file" accept="image/png">
                                </div>
                            </div>
                            <div layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center"></div>
                            </div>
                        </div>

                        <div class="platform" ng-show="advanced && ios">
                            <md-divider></md-divider>
                            <div class='md-padding' layout="row" layout-sm="column" layout-wrap>
                                <div flex=30 layout="column" layout-align="center center" class="center-it">
                                    <md-icon md-svg-src="ic_phone_iphone_48px.svg" aria-label="ios"></md-icon>
                                </div>
                                <div flex>
                                </div>
                                <div flex>
                                </div>
                                <div flex>
                                    <md-checkbox ng-model="config.ios.fullscreen" ng-disabled="true">
                                        Fullscreen
                                    </md-checkbox>
                                </div>
                                <div flex>
                                </div>
                            </div>
                        </div>

                        <md-divider ng-show="advanced && !(android || desktop || ios)"></md-divider>
                        <md-content class='md-padding' style="padding-top: 30px" layout="row" layout-sm="column" layout-wrap ng-show="advanced && !(android || desktop || ios)">
                            <md-content flex layout="column" layout-align="center center">^ choose a platform</md-content>
                        </md-content>

                    </form>

                    <div layout="column" layout-align="center center" class="building" ng-show="page.view == 'building'">
                        <div class="spinner" ng-show="page.loading"></div>
                        <p>
                            {{ page.progress }}
                            <span ng-show="page.estimatedDuration">(eta {{ millisToMinutesAndSeconds(page.estimatedDuration) }} minutes)</span>
                        </p>
                    </div>

                    <div layout="column" layout-align="center center" ng-show="page.view == 'result'" class="results">
                        <div ng-show="page.progress == 'SUCCESS'">
                            <md-icon md-svg-src="ic_done_48px.svg" aria-label="android"></md-icon>
                            <p>The build will be emailed to you shortly.</p>
                        </div>
                        <div ng-show="page.progress != 'SUCCESS'">
                            <md-icon md-svg-src="ic_report_48px.svg" aria-label="android"></md-icon>
                            <p>There was an error with your build.</p>
                        </div>
                    </div>
                </md-card-content>

                <div class="md-actions" layout="row" layout-align="end center" ng-show="page.view == 'result'">
                    <md-button ng-click="page.view = 'build'" ng-show="page.progress != 'SUCCESS'">
                        Try again
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="generate()">
                        Build locally
                    </md-button>
                </div>

                <div class="md-actions" layout="row" layout-align="end center" ng-show="page.view == 'build'">
                    <md-button ng-click="advanced = true" ng-hide="advanced">
                        More
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="build()" ng-disabled="!myForm.$valid || !(desktop || android || ios)">
                        Build
                    </md-button>
                </div>

            </md-card>
        </md-content>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

        <!-- Angular Material Javascript now available via Google CDN; version 0.11 used here -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

        <script src="app.js"></script>
    </body>
</html>
